
*.log
*.tmp
UNJu/bin/Modulo1/C4/EJERCICIO_Cp4.docx
UNJu/bin/Modulo1/C4/~$ERCICIO_Cp4.docx
UNJu/bin/Modulo1/C4/~$ERCICIO_C4.docx
*.rar
*.prefs
*.xml
*.json
*.bak
UNJu/.project
UNJu/.project
*.ini
*.txt
*.ipynb
