
*.log
*.tmp
UNJu/bin/Modulo1/C4/EJERCICIO_Cp4.docx
UNJu/bin/Modulo1/C4/~$ERCICIO_Cp4.docx
UNJu/bin/Modulo1/C4/~$ERCICIO_C4.docx
*.rar
*.prefs
*.xml
*.json
*.bak
UNJu/.project
UNJu/.project
*.ini
*.txt
*.ipynb
UNJu/src/Modulo3/PDF TPS y consignas/TP FINAL.pdf
UNJu/src/Modulo3/PDF TPS y consignas/TP1 YAEL VALDEZ.pdf
UNJu/src/Modulo3/PDF TPS y consignas/TP2 YAEL VALDEZ.pdf
UNJu/src/Modulo3/PDF TPS y consignas/TP3 YAEL VALDEZ.pdf
UNJu/src/Modulo3/PDF TPS y consignas/TP4 YAEL VALDEZ.pdf
UNJu/src/Modulo3/Consignas/Entregas/TP4 YAEL VALDEZ.pdf
UNJu/src/Modulo3/Consignas/Entregas/TP3 YAEL VALDEZ.pdf
UNJu/src/Modulo3/Consignas/Entregas/TP2 YAEL VALDEZ.pdf
UNJu/src/Modulo3/Consignas/Entregas/TP1 YAEL VALDEZ.pdf
UNJu/src/Modulo3/Consignas/Entregas/TP FINAL.pdf
