<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>ejercicio1_news</title>
		<link rel="stylesheet" type="text/css" href="styles.css">
	</head>

	<body>
		<table action="/" border="1px" method="GET">
			<tr>
				<th>
					ID
				</th>
				<th>
					Nombre
				</th>
				<th>
					Materia
				</th>
				<th>
					Turno
				</th>
			</tr>
			<tr th:each="profesor : ${listaProf}">
				<td th:text="${profesor.id}"></td>
				<td th:text="${profesor.nombre}"></td>
				<td th:text="${profesor.materia}"></td>
				<td th:text="${profesor.turno}"></td>
			</tr>
		</table>

	</body>

</html>